nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(88, 104, 109);
  color: white;
  height: 10vh;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.navbar-link {
  display: flex;
  justify-content: space-between;
}

.navbar-link i,
.navbar-link p {
  margin: 0 15%;
}
