nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(88, 104, 109);
  color: white;
  height: 10vh;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
